body {
	background:#399A63;
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif
}

#game {
	width: 180px;
	height: 180px;
	background: white;
	color: black;
	margin: auto;
	padding: 2px;
	display: none;
}
.block {
	float: left;
	width: 60px;
	height: 60px;
	border: 2px solid black;
	box-sizing: border-box;
	line-height: 60px;
	font-size: 60px;
	cursor: pointer;
}

p {
	font-size: 44px;
	margin: 100px auto 50px auto;
	font-weight: bold;

}
button {
	width: 100px;
	height: 50px;
	font-size: 16px;
	font-weight: bold;
	border:1px solid white;
	background: black;
	color: white;
	cursor: pointer;

}