body {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	background-color: burlywood;
	max-width: 90%;
	color: #2F1B11;
	font-family: cursive , sans-serif;
}

#button {
	padding: 10px;
	background-color: #2F1B11;
	border: 3px solid #2F1B11;
	border-radius: 10px;
	font-weight: bold;
	float: left;
	font-size: x-large;
	line-height: 0;
	cursor: pointer;
	color: burlywood;
}

main {
	max-width: 80%;
	margin: 0 auto;
	border: 10px solid #2F1B11;
	border-radius: 50px;
	-webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    background-color: antiquewhite;
}

#wrapper {
	max-width: 70%;
	margin: 20px auto;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}

#world {
	border: 10px solid #2F1B11;
    border-radius: 10px;
    height: min-content;
    margin-right: 20px;
}

#rigthSide {
	margin-top: 10%;
}

#rigthSide #tetrisImg {
	max-width: 200px;
    min-width: 100px;
    height: 140px;
    margin-top: -30%;
    box-sizing: border-box;
    border: 5px solid #2F1B11;
    border-radius: 10px;
}


.statistics {
	max-width: 200px;
    min-width: 100px;
    width: 100px;
    height: 50px;
    border: 3px solid #2F1B11;
    border-radius: 10px;
    background-color: burlywood;
    color: #2F1B11;
    margin-top: 10px;
    line-height: 10px;
    font-weight: bold;
    display: table;
}

.statistics span {
	display: table-cell 
}
.statistics h4 {
	display: table-cell 
}

#arrows {
	height: fit-content;
	border: 3px solid #2F1B11;
	background-color: burlywood;
	border-radius: 20px;
	margin-top: 56%;
}

#arrows img {
	width: 50px;
}
#arrows img:hover {
	background-color: #2F1B11;
}

.row {
	display: flex;
	flex-direction: row;
}

.box {
	box-sizing: border-box;
	background-color: black;
	text-align: center;
	width: 25px;
	height: 25px;
	border: 1px solid #2F1B11;
	font-size: 3px;
	color:black;
}

.box[data-state="1"] {
	background-color: burlywood;
	color: burlywood;
}

.box[data-state="2"] {
	background-color: #855A44;
	color: #855A44;
}

.row[data-hidden = "10"] {
   display: none;
}

@media only screen and (max-width: 1200px) {
	header {
		margin-top: -25px;
	}
	main {
		max-width: 90%;
		margin-top: -20px;
	}

	#arrows {
		margin-top: 68%;
	}

	#arrows img{
		width: 30px;
	}
}




