body {
	margin: 0;
	padding: 0;
	background: #002653;
	font-family: monospace, "Arial", Sans-Serif;
	-webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

#wrapper {
	max-width: 90%;
	margin: 5% 5%;
	border: 1px solid #002653;
	border-radius: 50px;
	background: #EEFF47;
	color: #111;
}

#childWrap {
	max-width: 90%;
	margin: 5% 5%;
}

header, footer {
	text-align: center;
	text-overflow: hidden;
	font-style: italic;
}

main {
	background: #002653;
	min-width: 90%;
	border: 1px solid black;
	border-radius: 50px;
	min-height: 500px;
}

h1 {
	font-size: 32px;
	margin-top: -30px;
}

h2 {
	margin-bottom: -30px;
}

#arrows {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 190px;
	margin-left: 10px;
	margin-right: 10px;
}

#left, #right {
	background: #e1eba7;
	color: #222;
	padding: 30px;
	border: 3px solid #ef8;
	border-radius: 10px;
	height: 50px;
	font-size: 50px;
	margin-bottom: 20px;
	font-weight: bold;
 }

#left:hover, #right:hover {
	opacity: 0.5;
	border: 3px dashed blue;
	border-radius: 35px;
	cursor: pointer;
	background: #EEFF47;
}

#carousel {
	height: 500px;
	max-height: 350px;
	min-height: 300px;
	max-width: 80%;
	margin: 10px auto;
}

#images {
	display: flex;
	width: 50%;
	height: 90%;
	margin-left: 25%;
	margin-top: -220px;
}

#images:hover {
	opacity: 0.7;

}

#images img {
	border: 3px solid #EEFF47;
	border-radius: 80px;
	width: 100%;
	height: auto;
}

#images img:hover {
	border: 5px dashed blue;
	cursor: pointer;
	border-radius: 20px;
}

#button {
	background: #e1eba7;
    border: 1px solid yellow;
    border-radius: 40px;
    max-width: 90px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

}

#button:hover {
	opacity: 0.5;
	cursor: pointer;
	border: 3px dashed blue;
	border-radius: 20px;
	background: #EEFF47;
}

#button #buttonSpan p {
	color: #222;
	text-align: center;
	font-weight: bold;
	font-size: 34px;
	margin-top: 16px;
}

